body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #205622;
  }
  
  header {
    background-color: #4caf50;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    background-color: #388e3c;
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .container {
    padding: 20px;
  }
  
  .product {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    width: 200px;
    background-color: white;
    vertical-align: top;
    text-align: center;
  }
  
  .product img {
    width: 100%;
    height: 225px;
    border-radius: 5px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }

  h1 {
    text-align:center;
    font-size: 40px;
    color: white;
  }

  p {
    text-align: center;
    font-size: 30px;
    color: white;
  }

  .review {
    font-style: italic;
    font-size: 25px;
    text-align: left;
  }

  header {
    display: flex;
    align-items: center;      
    justify-content: center;  
    gap: 20px;
  }

  .price {
    color: black;
    font-weight: bold;
  }

  .korzinaImg {
    height: 75px;
    width: 75px;
  }

  .korzinaBlock {
    display: none;
    flex-direction: column;
    width: 37%;
    height: 40%;
    position: absolute;
    left: 30%;
    top: 35%;
    background-color:#58BC82;
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
  }

  .basket-item{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 22px;
    border-bottom: 1px dotted rgb(182, 182, 182);
  }

  .basket-item:last-child{
    border: none;
  }

  .korzinaItem{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
  }

  .countPrice{
    font-size: 22px;
  }

  .delete{
    background-color: rgb(126, 48, 74);
  }

  .menuKorzina{
    display: flex;
    height: 10%;
    flex-direction: row;
  }